<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <security>
      <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      <authentication>
        <windowsAuthentication enabled="false" />
        <anonymousAuthentication enabled="true" />
        <digestAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
        <iisClientCertificateMappingAuthentication enabled="true" 
          oneToOneCertificateMappingsEnabled="true"
          manyToOneCertificateMappingsEnabled="false">
          <oneToOneMappings>
            <add enabled="true" 
              userName="{some user}" 
              password="{some user password}"
              certificate="{a certificates public key base 64 string}" />
          </oneToOneMappings>
          <manyToOneMappings>
            <clear />
            <add name="Group Users" 
              permissionMode="Allow" 
              userName="{some user}" 
              password="{some user password}">
              <rules>
                <add certificateField="Subject" 
                     certificateSubField="CN" 
                     matchCriteria="SignedByRootCA" 
                     compareCaseSensitive="true" />
              </rules>
            </add>
          </manyToOneMappings>
        </iisClientCertificateMappingAuthentication>
      </authentication>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Deny" users="?" />
        <add accessType="Allow" users="{some user}" />
      </authorization>
    </security>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <service name="WcfService1.CustomerService">
        <endpoint binding="webHttpBinding" contract="WcfService1.ICustomerService" bindingConfiguration="webTransport" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webTransport">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 42ED8FEB-1816-4001-A791-D4437D13D541-->